<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <dllmap dll="python22" target="libpython2.2.so" os="!windows" />
  <dllmap dll="python23" target="libpython2.3.so" os="!windows" />
  <dllmap dll="python24" target="libpython2.4.so" os="!windows" />
  <dllmap dll="python25" target="libpython2.5.so" os="!windows" />
  <dllmap dll="python26" target="libpython2.6.so" os="!windows" />
  <dllmap dll="python27" target="libpython2.7.so" os="!windows" />
  <dllmap dll="python28" target="libpython2.8.so" os="!windows" />
  <dllmap dll="python29" target="libpython2.9.so" os="!windows" />
  <dllmap dll="python22.dll" target="libpython2.2.so" os="!windows" />
  <dllmap dll="python23.dll" target="libpython2.3.so" os="!windows" />
  <dllmap dll="python24.dll" target="libpython2.4.so" os="!windows" />
  <dllmap dll="python25.dll" target="libpython2.5.so" os="!windows" />
  <dllmap dll="python26.dll" target="libpython2.6.so" os="!windows" />
  <dllmap dll="python27.dll" target="libpython2.7.so" os="!windows" />
  <dllmap dll="python28.dll" target="libpython2.8.so" os="!windows" />
  <dllmap dll="python29.dll" target="libpython2.9.so" os="!windows" />

  <dllmap dll="python32" target="libpython3.2.so" os="!windows" />
  <dllmap dll="python33" target="libpython3.3.so" os="!windows" />
  <dllmap dll="python34" target="libpython3.4.so" os="!windows" />
  <dllmap dll="python35" target="libpython3.5.so" os="!windows" />
  <dllmap dll="python36" target="libpython3.6.so" os="!windows" />
  <dllmap dll="python37" target="libpython3.7.so" os="!windows" />
  <dllmap dll="python38" target="libpython3.8.so" os="!windows" />
  <dllmap dll="python39" target="libpython3.9.so" os="!windows" />
  <dllmap dll="python32.dll" target="libpython3.2.so" os="!windows" />
  <dllmap dll="python33.dll" target="libpython3.3.so" os="!windows" />
  <dllmap dll="python34.dll" target="libpython3.4.so" os="!windows" />
  <dllmap dll="python35.dll" target="libpython3.5.so" os="!windows" />
  <dllmap dll="python36.dll" target="libpython3.6.so" os="!windows" />
  <dllmap dll="python37.dll" target="libpython3.7.so" os="!windows" />
  <dllmap dll="python38.dll" target="libpython3.8.so" os="!windows" />
  <dllmap dll="python39.dll" target="libpython3.9.so" os="!windows" />
</configuration>